<div class="applic-apps section-padding2">
    <div class="container-fluid">
        <div class="row">
            <!-- slider Heading -->
            <div class="col-xl-4 col-lg-4 col-md-7">
                <div class="single-cases-info mb-30" style="left:45%">
                    <h3>{{ 'index.apps.heading.companyname-apps'|trans }}<br> {{ 'index.apps.heading.screenshot'|trans }}</h3>
                    <p>{{ 'index.apps.description'|trans }}</p>
                </div>
            </div>
            <!-- OwL -->
            <div class="col-xl-8 col-lg-8 col-md-col-md-7">
                <div class="app-active owl-carousel">
                    <div class="single-cases-img">
                        <img src="{{asset('assets/img/gallery/App1.png')}}" alt="">
                    </div>
                    <div class="single-cases-img">
                        <img src="{{asset('assets/img/gallery/App2.png')}}" alt="">
                    </div>
                    <div class="single-cases-img">
                        <img src="{{asset('assets/img/gallery/App3.png')}}" alt="">
                    </div>
                    <div class="single-cases-img">
                        <img src="{{asset('assets/img/gallery/App2.png')}}" alt="">
                    </div>
                    <div class="single-cases-img">
                        <img src="{{asset('assets/img/gallery/App1.png')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>