<div class="slider-area ">
    <div class="slider-active">
        <div class="single-slider slider-height slider-padding sky-blue d-flex align-items-center">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 col-md-9 ">
                        <div class="hero__caption">
                            <span data-animation="fadeInUp" data-delay=".4s">{{'start.text-first'|trans}}</span>
                            <h1 data-animation="fadeInUp" data-delay=".6s">{{'start.heading-first'|trans}}<br>{{'companyname'|trans}}</h1>
                            <p data-animation="fadeInUp" data-delay=".8s">{{'start.text-second'|trans}}</p>
                            <!-- Slider btn -->
                            <div class="slider-btns">
                                <!-- Hero-btn -->
                                <a data-animation="fadeInLeft" data-delay="1.0s" href="{{ path('web_download') }}" class="btn radius-btn">{{'button.download'|trans}}</a>
                                <!-- Video Btn -->
                                <a data-animation="fadeInRight" data-delay="1.0s" class="popup-video video-btn ani-btn" data-toggle="modal" data-target="#modal1"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero__img d-none d-lg-block f-right" data-animation="fadeInRight" data-delay="1s">
                            <img src="{{asset('assets/img/hero/hero_right.png')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height slider-padding sky-blue d-flex align-items-center">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 col-md-9 ">
                        <div class="hero__caption">
                            <span data-animation="fadeInUp" data-delay=".4s">{{'start.text-first'|trans}}</span>
                            <h1 data-animation="fadeInUp" data-delay=".6s">{{'start.heading-first'|trans}}<br>{{'companyname'|trans}}</h1>
                            <p data-animation="fadeInUp" data-delay=".8s">{{'start.text-second'|trans}}</p>
                            <!-- Slider btn -->
                            <div class="slider-btns">
                                <!-- Hero-btn -->
                                <a data-animation="fadeInLeft" data-delay="1.0s" href="{{ path('web_download') }}" class="btn radius-btn">{{'button.download'|trans}}</a>
                                <!-- Video Btn -->
                                <a data-animation="fadeInRight" data-delay="1.0s" class="popup-video video-btn ani-btn" data-toggle="modal" data-target="#modal1"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero__img d-none d-lg-block f-right" data-animation="fadeInRight" data-delay="1s">
                            <img src="{{asset('assets/img/hero/hero_right.png')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Modal: Name-->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <video controls class="embed-responsive-item">
                        <source src="{{ asset('assets/img/werbung.mp4') }}" type="video/mp4" />
                    </video>

                </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

            </div>

        </div>
        <!--/.Content-->

    </div>
</div>
<!--Modal: Name-->

<script>
    $('#modal1').on('hidden.bs.modal', function (e) {
        // do something...
        $('#modal1 iframe').attr("src", $("#modal1 iframe").attr("src"));
    });
</script>