{% extends 'emails/mail_base.html.twig' %}
{% block body %}
    {% embed 'emails/blocks/1-col.twig' %}
        {% block title %}Herr/ Frau {{ lastname }}, herzlichen Dank für Ihre Bestellung.{% endblock %}
        {% block body %}
            <p>Am folgendem finden Sie eine Übersicht über Ihre Bestellung:</p>
            <table>
                <tr>
                    <th>Anzahl</th>
                    <th>Artikel</th>
                    <th>Einzelpreis</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.amount }}</td>
                        <td style="padding-left:5%">{{ order.name }} </td>
                        <td style="padding-left:18%">{{ order.price }}€</td>
                    </tr>

                {% endfor %}
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        Gesamtsumme: {{ invoice_number }} €
                    </td>
                </tr>
            </table>

            <p>
                Bitte prüfen Sie ob Ihre Versandadresse stimmt: </br>

                {% if company is same as ('') %}
                    <span  style="white-space: pre"> {{ firstname }} {{ lastname }}</span> </br>
                    <span  style="white-space: pre"> {{ street }} {{ housenumber }}</span> </br>
                    <span  style="white-space: pre"> {{ zipcode }} {{ city }}</span> </br>
                {% else %}
                    <span  style="white-space: pre"> Firma {{ company }} </span> </br>
                    <span  style="white-space: pre"> zH. {{ firstname }} {{ lastname }}</span> </br>
                    <span  style="white-space: pre"> {{ street }} {{ housenumber }}</span> </br>
                    <span  style="white-space: pre"> {{ zipcode }} {{ city }}</span> </br>
                {% endif %}
            </p>
            <p>
            </p>
            <p>

            </p>
        {% endblock %}
    {% endembed %}
{% endblock %}