{% extends 'profile/profile-base.html.twig' %}
{% block title %} {{ 'title.profile.helper.edit'|trans }} {% endblock %}
{% block body %}
    <main>
        <section class="service-area services-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <div class="form-row col-md-12">
                            {{ form_widget(form.title, { 'attr': {'class': 'col-md-12'} })}}
                        </div>
                    </div>

                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.email) }}
                    <button type="submit" class="btn btn-primary">{{'button.save'|trans}}</button>

                    <a href="{{ path('profile_helper_list') }}" class="btn btn-secondary">{{'button.cancel'|trans}}</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </main>

{% endblock %}