{% extends 'emails/mail_base.html.twig' %}
{% block body %}
    {% embed 'emails/blocks/1-col.twig' %}
        {% block title %}{{ saluation }} {{ title }} {{ name }}{% endblock %}
        {% block body %}
            <p>{{ 'mail.acount-help.help.text'|trans }}</p>
            <p>
                {{place}}
            </p>
            <p>{{ 'mail.acount-help.help.text.medicals'|trans }}</p>
            <p>
                {% for medical in medicals %}
                    <li>{{ medical.name }} {{ medical.dosis }}x {{ 'profile.medical.daily'|trans }}
                        {% if medical.link is not empty %}
                            <a href="{{ medical.link }}"> {{ 'mail.further-information'|trans }} </a>
                    {% endif %}</li>
                {% endfor %}
            </p>

        {% endblock %}
    {% endembed %}
{% endblock %}