{% extends 'base.html.twig' %}
{% block body %}
  <main>

        <section class="best-features-area section-padd4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                       <div class="card" id="register-info-card">
                            <div class="card-body">
                                <form action="{{ link }}" method="post" id="wizard" class="form">
                                    <h2></h2>
                                    <section>
                                        <div class="inner">
                                            <div class="form-content">
                                                <div class="form-header">
                                                    <h3 style="color:#000;">{{ 'register.password-heading'|trans }}</h3>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col form-group">
                                                        <label for="password">{{ 'register.password'|trans }}</label>
                                                        <input type="password" id="password" name="password"
                                                               placeholder="{{ 'register.password'|trans }}"
                                                               class="form-control required"
                                                               onKeyUp="checkPasswordStrength();">
                                                        <div id="password-strength-status"></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col form-group">
                                                        <label for="confirm">{{ 'register.password-confirm'|trans }}</label>
                                                        <input type="password" id="confirm"
                                                               placeholder="{{ 'register.password-confirm'|trans }}"
                                                               class="form-control required"
                                                               onKeyUp="checkPasswordConfirm();">
                                                        <div id="password-correct"></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group form-check">
                                                        <label class="form-check-label" for="acceptTerms">
                                                            {{ 'register.dataprotection'|trans }}
                                                        </label>

                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <button class="btn btn-lg btn-primary" type="submit">
                                                        {{'button.end-register' | trans}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </form>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </section>
  </main>
{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
    <script>
        var form = $("#wizard");

        $.validator.addMethod('passwordcheck', function (value, element) {
            var number = /([0-9])/;
            var alphabets = /([a-zA-Z])/;
            var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
            if (value.length < 6) {
                return false;
            } else {
                if (value.match(number) && value.match(alphabets) && value.match(special_characters)) {
                    return true;
                } else {
                    return false;
                }
            }
        }, "{{ 'register.password-strength-error'|trans }}");

        $.validator.addMethod('confirmCheck', function (value, element) {
            var regex = /^[0-9]{5}$/

            if ($('#password').val() == value) {

                return true;
            } else {

                return false;
            }

        }, "{{ 'register.password-confirm-error'|trans }}");


        $.validator.messages.required = "{{ 'register.empty-error'|trans }}";
        $.validator.messages.email = "{{ 'register.email-error'|trans }}";
        $.validator.setDefaults({
            highlight: function (element) {
                $(element).closest('.form-group').find(".form-control:first").addClass('is-invalid');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').find(".form-control:first").removeClass('is-invalid');
                $(element).closest('.form-group').find(".form-control:first").addClass('is-valid');
            },
            errorElement: 'span',
            errorClass: 'invalid-feedback',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
            rules: {
                password: {
                    passwordcheck: true
                },
                passwordConfirm: {
                    confirmCheck: true
                }
            }
        });

        function checkPasswordStrength() {
            var number = /([0-9])/;
            var alphabets = /([a-zA-Z])/;
            var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
            if ($('#password').val().length < 6) {
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('weak-password');
                $('#password-strength-status').html("{{ 'register.password-length-error'|trans }}");
                $('#password').removeClass();
                $('#password').addClass('form-control is-invalid');
                $('#password').focus();
                return false;
            } else {
                if ($('#password').val().match(number) && $('#password').val().match(alphabets) && $('#password').val().match(special_characters)) {
                    $('#password-strength-status').removeClass();
                    $('#password-strength-status').addClass('strong-password');
                    $('#password-strength-status').html("");
                    $('#password').removeClass();
                    $('#password').addClass('form-control is-valid');
                    return true;
                } else {
                    $('#password-strength-status').removeClass();
                    $('#password-strength-status').addClass('medium-password');
                    $('#password-strength-status').html("{{ 'register.password-strength-error'|trans }}");
                    $('#password').removeClass();
                    $('#password').addClass('form-control is-invalid');
                    $('#password').focus();
                    return false;
                }
            }
        };

    </script>
{% endblock %}